/Terradue.GeoJson/bin/

/packages/

/packages

/Terradue.GeoJson/obj/

/Terradue.GeoJson.userprefs

/Terradue.GeoJson.Tests/bin/

/Terradue.GeoJson.Tests/obj/
*.suo
Terradue.GeoJson.sln.DotSettings.user
/.vs

build/
